<!DOCTYPE HTML>
<html>
        <head>
                <title>SIGNUP</title>
                <style>
                    body{
                        background-image:url("https://www.codingnepalweb.com/demos/create-glassmorphism-login-form-html-css/hero-bg.jpg ");
                    }        
                    h1{
                        color:black;
                    }
                    label{
                        color:black;
                    }
                </style>
        </head>
        <body>
         <center><u><h1>SIGNUP</h1></u></center><br>
        <form action="/" method="POST" enctype="multipart/form-data">
               <center>
        <label><p><b>USERNAME:</b></p> </label>
        <input type="text" placeholder="Enter Username" name="username" required><br><br>
        <label><p><b>PASSWORD:</b></p> </label>
        <input type="password" placeholder="Enter Password" minLength="6" name="password" required><br><br>
        <button class="btn" name="btn" value="signupsubmit">Sign Up</button>
                </center>
        </form>

</body>

</html>